* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to top right, #22c1c3, #fdbb2d);
}

.container {
    width: 100%;
}
.container::after {
    content: '';
    display: table;
    clear: both;
}

.card {
    width: calc(100% / 3 - 20px);
    height: 900px;
    float: left;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #494949;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    background-position-x: center;
}
.card:hover .hidden{
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.layover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20%;
    background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
    opacity: 0;
}